### Xcode ###
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate
*.moved-aside
*.xccheckout
*.xcscmblueprint

### SwiftPM ###
.swiftpm/
.build/

### CocoaPods ###
Pods/

### Carthage ###
Carthage/Build/

### Fastlane ###
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

### macOS ###
.DS_Store
.AppleDouble
.LSOverride

### Archives ###
*.xcarchive

### Simulator ###
*.simruntime
*.simdevice

### Misc ###
*.plist~
*.swp
